.container1{
    width: 200% !important;

}

body{
    margin: 0;
    padding: 0;
}

#img1 {
    width: 400px !important;
    height:500px !important;
    float:left !important;
}

#img2 {
    width: 500px !important;
    height: 500px !important;
    float:right !important;
}

#navbar1{
    width: 900px;
    height: 100px;
    background-color: rgb(243, 243, 243);
    font-family: 'Arial';
    margin-top: -300px;
    font-size: 100px;
}

#navbar1 ul {
margin: 0;
list-style: none;
position: relative;
background-color:rgb(223, 204, 204);

}

#navbar1 ul li {
    width:300px !important;
    float: left !important;
    font-size: 29px;
   margin-left: 200px;
}

#navbar1  a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: black;
}



#navbar2 {
    margin-top: -1px !important;
    font-size:40px !important;
    justify-content: center !important;
    border-radius: 300px !important;
}
#navbar2 ul{
    margin: 0;
    list-style: none;
    position: relative;
    color: white
}

#navbar2 ul li {
    width: 400px;
    height: 200px;
    float: left;
    text-align: center;
    background-color: #083ceb;
    margin-top: -100px;
}

#navbar2 a span {
    padding: 87px !important;
    display:block !important;
    text-decoration: none !important;
    text-align: center !important;
    margin-top: 100% !important;
    border-radius: 100px !important;
    display: block;
}

#navbar2 a {
    border-width: medium;
  border-style: 100px !important ;
  border-color: #fff;
}

#navbar3 {
    margin-top: 70px !important;
    width:1000px !important;
    height: 40px !important;
}

#click {
    height: 50px !important;
    font-size: 30px !important;
    border-radius: 100px !important;  
    text-align: center !important;
    justify-content: center !important;
    display: flex !important;
    margin-right: auto !important;
    margin-left: auto !important;
    background-color: #207eca !important;
    text-decoration: none !important;
    display: block !important;
}

#click a {
    color: white;
}

.nav-container {
    width:700px;
    margin-top: 60px;
    height:400px;
    margin: -100px -100px 100px;
    
}

.nav-container{
    margin-top: -27% !important;


}


.navbar5 {
    height:300% !important;
    width: 500px !important;
    margin-top: 200px !important;
    margin-right: 700px !important;

}

.navbar6 {
    height:300% !important;
    width: 500px !important;
    margin-top: -10% !important;
    margin-left: 900px !important;
}

.div header {
    width: 400px;
    height: 500px;

    
}
